<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="SynchroStartServer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><userSettings>
        <SynchroStartServer.Properties.Settings>
            <setting name="timerSeconds" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="gameName" serializeAs="String">
                <value>aces</value>
            </setting>
            <setting name="gameWindow" serializeAs="String">
                <value>War Thunder</value>
            </setting>
        </SynchroStartServer.Properties.Settings>
    </userSettings>
</configuration>
